<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container bodyu">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Login!</h3>
                            <p class="text-muted mb-4">Pharmacy Supply Portal</p>
                            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
                                <div class="form-group mb-3">
                                    <input id="userid" name="userid" ngModel type="text" placeholder="User ID"
                                        class="form-control rounded-pill border-info shadow-sm px-4 py-4" #userid="ngModel"
                                        required>
                                    <div [hidden]="userid.valid || userid.pristine"
                                        class="alert alert-danger rounded-pill">
                                        User ID Required</div>
                                </div>
                                <div class="form-group mb-3">
                                    <input id="password" name="password" ngModel type="password" placeholder="Password"
                                        class="form-control rounded-pill border-info shadow-sm px-4 py-4 text-primary"
                                        #password="ngModel" required>
                                    <div [hidden]="password.valid || password.pristine"
                                        class="alert alert-danger rounded-pill">
                                        Password Required</div>
                                </div>
                                <button type="submit" [disabled]="!loginForm.form.valid"
                                    class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign
                                    in</button>
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>