/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1576602976047-174e57a47881?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGhhcm1hY3l8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
  background-size: cover;
  background-position: center center;
}