<body>
    <app-nav-design></app-nav-design>
    

    <div>
        <div class="container" style="padding-top: 50px;">
            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="display-4 text-white" style="font-weight: bold;">Our Team</h2>
                </div>
            </div>

            <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><i width="100"
                            class="mb-3 fas fa-user fa-3x"></i>
                        <h5 class="mb-0">Singhaniya Aman</h5><span class="small text-uppercase text-muted">Emp ID -
                            922233</span><br><span class="small text-uppercase">POD Leader</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><i width="100"
                            class="mb-3 fas fa-user fa-3x"></i>
                        <h5 class="mb-0">Deepak Parmar</h5><span class="small text-uppercase text-muted">Emp ID -
                            921643</span><br><span class="small text-uppercase text-muted">Member</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><i width="100"
                            class="mb-3 fas fa-user fa-3x"></i>
                        <h5 class="mb-0">Karnataka Shushma</h5><span class="small text-uppercase text-muted">Emp ID -
                            922237</span><br><span class="small text-uppercase text-muted">Member</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><i width="100"
                            class="mb-3 fas fa-user fa-3x"></i>
                        <h5 class="mb-0">Sanaka Pradeep</h5><span class="small text-uppercase text-muted">Emp ID -
                            922396</span><br><span class="small text-uppercase text-muted">Member</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

            </div>
        </div>
    </div>

    <div class="py-2">
        <div class="container py-2">
            <div class="row mb-4">
                <div class="col-lg-5">
                    <h2 class="display-4 text-white" style="font-weight: bold;">Our Supervisors</h2>
                </div>
            </div>

            <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-4 col-sm-8 mb-4">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><i width="100"
                            class="mb-3 fas fa-user-tie fa-3x"></i>
                        <h5 class="mb-0">Jamuna M</h5><span class="small text-uppercase">Cohort Coach</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-4 col-sm-8 mb-4">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><i width="100"
                            class="mb-3 fas fa-user-tie fa-3x"></i>
                        <h5 class="mb-0">Nilay Das</h5><span class="small text-uppercase text-muted">Cohort Trainer</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-4 col-sm-8 mb-4">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><i width="100"
                            class="mb-3 fas fa-user-tie fa-3x"></i>
                        <h5 class="mb-0">Kannadhasan Mariappan</h5><span class="small text-uppercase text-muted">Project Mentor</span>
                        <ul class="social mb-0 list-inline mt-3">
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="list-inline-item"><a class="social-link"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

            </div>
        </div>
    </div>

</body>
<footer class="py-2 bg-white" style="opacity: 0.7;">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-black">Copyright &copy; POD-2 2021</p>
    </div>
</footer>