<body>
    <app-nav-design></app-nav-design>
    <div [hidden]="submitted">
        <div class="container text-center text-white">
            <div class="row pt-5">
                <div class="col-lg-8 mx-auto">
                    <h1 class="display-4"><strong>Order Medicines</strong></h1>
                </div>
            </div>
        </div><!-- End -->
        <form (ngSubmit)="onSubmit()">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-12 mx-auto bg-white rounded shadow">

                        <!-- Fixed header table-->
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-light" style="border-color:black;">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-2">Medicine Name</th>
                                        <th scope="col" class="col-3">Chemical Composition</th>
                                        <th scope="col" class="col-2">Targer Ailment</th>
                                        <th scope="col" class="col-2">Date of Expiry</th>
                                        <th scope="col" class="col-0">In Stock</th>
                                        <th scope="col" class="col-2">Pharmacy Name</th>
                                        <th scope="col" class="col-1">Order Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let medicine of medicines">
                                        <td class="col-2">{{medicine.name}}</td>
                                        <td class="col-3">{{medicine.chemicalComposition}}</td>
                                        <td class="col-2">{{medicine.targetAilment}}</td>
                                        <td class="col-2">{{medicine.dateOfExpiry}}</td>
                                        <td class="col-0">{{medicine.numberOfTabletsInStock}}</td>
                                        <td class="col-2">{{medicine.pharmacyName}}</td>
                                        <td class="col-1"><input type="number" id="amount" name="amount"
                                                max="{{medicine.numberOfTabletsInStock}}" min=0
                                                [(ngModel)]="medicine.amount"
                                                class="form-control border border-secondary" required></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div><!-- End -->

                    </div>
                </div>

            </div>
            <div class="container text-white text-lg-center">
                <button type="submit" class="btn btn-primary text-uppercase btn-lg">Place Order</button>
            </div>
        </form>
        <div class="row pt-lg-5">
            <div class="col-lg-8 mx-auto">
            </div>
        </div>
    </div>


    <div [hidden]="!submitted">
        <div class="container text-center text-white">
            <div class="row pt-5">
                <div class="col-lg-8 mx-auto">
                    <h1 class="display-4"><strong>Order Details</strong></h1>
                </div>
            </div>
        </div><!-- End -->
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-12 mx-auto bg-white rounded shadow">

                    <!-- Fixed header table-->
                    <div class="table-responsive">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-3">Pharmacy Name</th>
                                    <th scope="col" class="col-3">Medicine Name</th>
                                    <th scope="col" class="col-2">Ordered Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of supply">
                                    <td class="col-3">{{product.pharmacyName}}</td>
                                    <td class="col-3">{{product.medicineName}}</td>
                                    <td class="col-2">{{product.supplyCount}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div><!-- End -->

                </div>
            </div>
        </div>
        <div class="container text-white text-lg-center">
            <button routerLink="/home" class="btn btn-primary text-uppercase btn-lg">Home</button>
        </div>
        <div class="row pt-lg-5">
            <div class="col-lg-8 mx-auto">
            </div>
        </div>
    </div>
</body>