<nav class="navbar navbar-expand-lg navbar-light bg-white" style="padding: 0; opacity: 90%;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/login" style="margin-left: 20px;">
            <img src="assets/images/Untitled-1.png" height="70" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/login"><strong>Home</strong></a>
                </li>
                <li class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/RepSchedule"><strong>Represtative Schedule</strong></a>
                </li>
                <li class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/Demand"><strong>Medicine Demand</strong></a>
                </li>
                <li class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/Supply"><strong>Medicine Supply</strong></a>
                </li>
                <li class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link" routerLink="/OrderMedicine"><strong>Order Medicine</strong></a>
                </li>
            </ul>
        </div>
        <!--<ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" routerLink="/cart" style="margin-right: 20px;">
                    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                </a>
            </li>
        </ul>-->
    </div>
</nav>