<body>
    <app-nav-design></app-nav-design>
    <div class="container text-center text-white">
        <div class="row pt-5">
            <div class="col-lg-12 mx-auto">
                <h1 class="display-4"><strong>Medicines Supplied</strong></h1>
                </div>
            </div>
        </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-10 mx-auto bg-white rounded shadow">

                <!-- Fixed header table-->
                <div class="table-responsive table-hover rounded" style="padding-top: 12px;">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-white" style="background: linear-gradient(to right , #ACB6E5,#74ebd5);">
                                <th scope="col" class="col-3">Pharmacy Name</th>
                                <th scope="col" class="col-3">Medicine Name</th>
                                <th scope="col" class="col-2">Ordered Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of supply">
                                <td scope="row" class="col-3">{{product.pharmacyName}}</td>
                                <td class="col-3">{{product.medicineName}}</td>
                                <td class="col-2">{{product.supplyCount}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div><!-- End -->

            </div>
        </div>
        <div class="container py-4 text-white text-lg-center">
            <button routerLink="/home" class="btn btn-primary text-uppercase btn-lg">Home</button>
        </div>
    </div>
</body>
<footer class="py-2 bg-white" style="opacity: 0.7;">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-black">Copyright &copy; POD-2 2021</p>
    </div>
</footer>