<body>
    <app-nav-design></app-nav-design>
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0"
                    src="https://cdn.sanity.io/images/0vv8moc6/drugtopics/362378764ff70708dc8f284d9057f85ab52a88ec-1000x667.png"
                    alt="..." /></div>
            <div class="col-lg-5 text-white">
                <h1 class="font-weight-light"><strong>Cognizant Pharmacy Supply Management</strong></h1>
                <p>A Pharmaceutical company wants to automate the logic of forming a schedule for their medical
                    representatives to meet the targeted doctors to explain their medicines and its nature for
                    prescription. Based on the response from doctors, the medicine demand will be determined. This
                    should be fed into the system to determine the medicine supply detail to its Pharmacists.</p>
                <a class="btn btn-primary" routerLink="/OrderMedicine">Order Medicine</a>
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-white my-5 py-4 text-center" style="opacity: 0.8;">
            <div class="card-body">
                <p class="text-black h5" style="color: #490b70;"><strong>Cognizant Pharmaceutical</strong> - Pharmacy that cares for the wellbeing of you and your family.</p>
            </div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">POD Members -</h2>
                        <ul class="card-text">
                            <li>Singhaniya Aman - 922233</li>
                            <li>Deepak Parmar - 921643</li>
                            <li>Shushma Karnataka - 922237</li>
                            <li>Sanaka Pradeep - 922396</li>
                          </ul>  
                    </div>
                    <div class="card-footer"><button disabled class="btn btn-primary btn-sm" href="#!">More Info</button></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Details -</h2>
                        <ul class="card-text">
                            <li><strong>POD</strong> - 2</li>
                            <li><strong>Cohort</strong> - INTCDE21IJ052</li>
                            <li><strong>POD Leader</strong> - Singhaniya Aman</li>
                            <li><strong>Trainer</strong> - Nilay Das</li>
                            <li><strong>Project Mentor</strong> - Kannadhasan Mariappan</li>
                          </ul>
                    </div>
                    <div class="card-footer"><button disabled class="btn btn-primary btn-sm" href="#!">More Info</button></div>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Microservices -</h2>
                        <ul class="card-text">
                            <li>Medicine Stock</li>
                            <li>Authorization</li>
                            <li>Medical Representative Schedule</li>
                            <li>Pharmacy Medical Supply</li>
                            <li>Pharmacy Supply Portal</li>
                          </ul>
                    </div>
                    <div class="card-footer"><button class="btn btn-primary btn-sm" disabled href="#!">More Info</button></div>
                </div>
            </div>
        </div>
    </div>
</body>
    <!-- Footer-->
    <footer class="py-2 bg-white" style="opacity: 0.7;">
        <div class="container px-4 px-lg-5">
            <p class="m-0 text-center text-black">Copyright &copy; POD-2 2021</p>
        </div>
    </footer>